/* .App {
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* Form Space */
.search {

 /* Frame 9 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 24px;
gap: 10px;

width: 352px;
height: 48px;
left: 274px;
top: 132px;

background: #F9FAFB;
border: 1px solid #E4E7EC;
border-radius: 12px;
}
.headerText {
  /* Users */


width: 81px;
height: 48px;
left: 274px;
top: 26px;

font-weight: 600;
font-size: 32px;
line-height: 48px;

}
.marg {
 background: #00D2D0;
 width: 188px;
 height: 48px;

 padding: 12px 48px 12px 48px;
}
.marg1{
  background: #00D2D0;
  width: 88px;
  height: 48px;
  padding: 12px 48px 12px 48px;
}
.ant-table
 
  thead.ant-table-thead
  .ant-table-cell {
  color: gray;
}
.widt {
  width: 48px;
}
.ant-menu-item-selected {
  background-color:  #00D2D0;
}